<%- include("partials/header", { title }) %>

    <main>

        <section class="page-banner">

            <h2>
                <%= title %>
            </h2>

            <p>
                These categories help organize service projects by purpose and community impact.
            </p>

        </section>

        <section class="organizations-container">

            <% categories.forEach(category=> { %>

                <div class="organization-card">

                    <h3>
                        <a href="/categories/<%= category.category_id %>">
                            <%= category.name %>
                        </a>
                    </h3>

                </div>

                <% }) %>

        </section>

        <% if ( session && session.user && session.user.role_name==="admin" ) { %>

            <p class="add-link">

                <a href="/new-category">
                    Add a New Category
                </a>

            </p>

            <% } %>

    </main>

    <%- include("partials/footer") %>